.toggle:dir(ltr){
	color: #595959;
}

.toggle {
	margin-left: 3px;
	border: 0px;
	border-radius: 2px;
	color: #595959;
}

.background-mode {
	/*background-color: rgba(255, 255, 255, 0.966);*/
	background: white;
}

.t1 {
	font-size: 16pt;
	font-weight: 700;
	letter-spacing: -0.04em;
	opacity: 0.95;
	padding-top: 0.5em;
	padding-bottom: 0.1em;
}

.t2 {
	font-size: 10pt;
	font-weight: 300;
}

.description-label {
	margin-top: -15px;
}